/**
 * Typography
 */
/**
*
* Buttons
*
**/
/*doc
---
title: Buttons
name: button
category: basics
---
```html_example
    <div class='button'>Button</div>
```
```html_example
    <div class='button button--primary'>Button Primary</div>
```
```html_example
    <div class='button button--secondary'>Button Secondary</div>
```
*/
.button, .button--primary, .button--secondary {
  display: inline-block;
  padding: 12px 32px;
  margin-bottom: 13px;
  margin-top: 13px;
  min-height: 26px;
  text-align: center;
  font-weight: 600;
  text-decoration: none;
  outline: 0;
  -webkit-transition: none;
          transition: none;
  border: 1px solid transparent;
}
.button:hover, .button--primary:hover, .button--secondary:hover {
  background: #4d4d4d;
  color: #ffffff;
  border: 1px solid #4d4d4d;
  text-decoration: none;
}

.button--primary {
  background: #4285f4;
  color: white;
  border: 1px solid #1266f1;
}

.button--secondary {
  background: #4285f4;
  color: white;
  border: 1px solid #1266f1;
}

/**
*
* Alerts
*
**/
/*doc
---
title: Alerts
name: alerts
category: basics
---
```html_example
    <div class='alert'>Alert: Everything went just as planned</div>
```
```html_example
    <div class='alert alert--warning'>Alert: This is a warning</div>
```
```html_example
    <div class='alert alert--error'>Alert: This is an error</div>
```
*/
.alert,
.alert--warning,
.alert--error {
  display: block;
  padding: .8em;
  background: #19AA19;
  color: white;
  border-radius: 8px;
  font-size: 1.1em;
}

.alert--warning {
  background: #ECEC4B;
  color: black;
}

.alert--error {
  background: red;
}
