/**
*
* Alerts
*
**/

/*doc
---
title: Alerts
name: alerts
category: Components - Alerts
---
```html_example
    <div class='alert'>Alert: Everything went just as planned</div>
```
```html_example
    <div class='alert alert--warning'>Alert: This is a warning</div>
```
```html_example
    <div class='alert alert--error'>Alert: This is an error</div>
```
*/

.alert,
%alert {
  display: block;
  padding: .8em;
  background: #19AA19;
  color: white;
  border-radius: 8px;
  font-size: 1.1em;
}

.alert--warning {
  @extend %alert;
  background: #ECEC4B;
  color: black;
}

.alert--error {
  @extend %alert;
  background: red;
}
