/**
 * Nav
 */

.nav {
}

.nav__sitename {
  @include span(6);
}

.nav__menu {
  @include span(6 last);
  float: right;
  margin: 0;
  padding: 0;
  text-align: right;

  li {
    margin: 0;
    padding: 0;
    list-style: none;
  }
}
