/**
*
* Slick Header
*
**/

/*doc
---
title: Slick Header
name: slickheader
category: Components - Slickheader
---
```html_example
  <div class="slickheader">
    <h1 class="slickheader__title">Let's get coding</h1>
    <div class="slickheader__subtitle">this is when it gets fun...</div>
    <div class="slickheader__imgcontainer">
      <img class="slickheader__img" src="http://i.telegraph.co.uk/multimedia/archive/02850/buzzBB5PW3_2850210b.jpg">
    </div>
  </div>
```
```html_example
  <div class="slickheader slickheader--x-large">
    <h1 class="slickheader__title">Let's get coding</h1>
    <div class="slickheader__subtitle">this is when it gets fun...</div>
    <div class="slickheader__imgcontainer">
      <img class="slickheader__img" src="http://i.telegraph.co.uk/multimedia/archive/02850/buzzBB5PW3_2850210b.jpg">
    </div>
  </div>
```
*/

.slickheader {
  @include full-width;
  overflow: hidden;
  display: block;
  height: 30vw;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  z-index: 10;
}

.slickheader__title {
  color: white;
  margin-bottom: 0;
  text-shadow: 1px 1px 5px #000;
  position: relative;
  z-index: 10;
}

.slickheader__subtitle {
  color: white;
  text-shadow: 1px 1px 5px #000;
  position: relative;
  z-index: 10;
  line-height: 120%;
}

.slickheader__imgcontainer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}

.slickheader__img {
  @include object-fit;
  object-position: 50% 30%;
  @include breakpoint(800px) {
    object-position: 50% 0%;
  }
}

.slickheader--x-large {
  height: 50vw;
}
